<div class="container pagecontainer">
    <div class="page-header">
        <h1>ADd Bets</h1>
    </div>

    <form [formGroup]="betForm" (ngSubmit)="saveBet(betForm.value)" class="form-horizontal" novalidate autocomplete="off">
        
        <div class="form-group" [ngClass]="{'has-error': betForm.get('betType').invalid && betForm.get('betType').dirty}">
            <label for="exptyp" class="col-sm-2 control-label">Тип ставки</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                <select class="form-control" [formControl]="betType">
                    <option></option>
                    <option *ngFor="let a of acc" >{{a}}</option>
                </select>
            </div>
            <div class="text-danger" *ngIf="betForm.get('betType').dirty && betForm.get('betType').errors">
                <span class="col-sm-2"></span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('betType').errors.required">
                    Please select expense account
                </span>
            </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': betForm.get('betDate').invalid && betForm.get('betDate').dirty}">
            <label for="expdt" class="col-sm-2 control-label">Date</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                <input type="date" class="form-control" id="expdt" [formControl]="betDate" placeholder="yyyy-mm-dd">
            </div>
            <div class="text-danger" *ngIf="betForm.get('betDate').dirty && betForm.get('betDate').errors">
                <span class="col-sm-2"></span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('betDate').errors.required">
                    Please enter date
                </span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('betDate').errors.pattern">
                    Please enter a valid date
                </span>
            </div>
        </div>


        <div class="form-group" [ngClass]="{'has-error': betForm.get('result').invalid && betForm.get('result').dirty}">
                <label for="exptyp" class="col-sm-2 control-label">Тип ставки</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                    <select class="form-control" [formControl]="result">
                        <option></option>
                        <option *ngFor="let a of eventsResultArray" >{{a}}</option>
                    </select>
                </div>
                <div class="text-danger" *ngIf="betForm.get('result').dirty && betForm.get('result').errors">
                    <span class="col-sm-2"></span>
                    <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('result').errors.required">
                        Please select expense account
                    </span>
                </div>
            </div>
        <!-- <div class="form-group" [ngClass]="{'has-error': betForm.get('events[0].team1').invalid && betForm.get('events.team1').dirty}">
            <label for="expamt" class="col-sm-2 control-label"> Команда 1</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" id="expamt" [formControl]="events[0].team1" placeholder="Enter amount">
            </div>
            <div class="text-danger" *ngIf="betForm.get('events.team1').dirty && betForm.get('events.team1').errors">
                <span class="col-sm-2"></span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('events.team1').errors.required">
                    Please enter amount
                </span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('events.team1').errors.pattern">
                    Please enter a valid amount
                </span>
            </div>
        </div> -->

        <div class="form-group" [ngClass]="{'has-error': betForm.get('sum').invalid && betForm.get('sum').dirty}">
                <label for="expamt" class="col-sm-2 control-label"> Команда 1</label>
                <div class="input-group col-sm-10">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" id="expamt" [formControl]="sum" placeholder="Enter amount">
                </div>
                <div class="text-danger" *ngIf="betForm.get('sum').dirty && betForm.get('sum').errors">
                    <span class="col-sm-2"></span>
                    <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('sum').errors.required">
                        Please enter amount
                    </span>
                    <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('sum').errors.pattern">
                        Please enter a valid amount
                    </span>
                </div>
            </div>

        <!-- <div  class="form-group" [ngClass]="{'has-error': betForm.get('sum').invalid && betForm.get('sum').dirty}">
            <label for="exptyp" class="col-sm-2 control-label">Результат</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                <input type="text" class="form-control" id="expamt" [formControl]="sum" placeholder="Enter amount">
            </div>
            <div class="text-danger" *ngIf="betForm.get('sum').dirty && betForm.get('sum').errors">
                <span class="col-sm-2"></span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('sum').errors.required">
                    Please select expense account
                </span>
            </div>
        </div> -->

        <div formArrayName="events" class="form-group">
            <div *ngFor="let events of betForm.controls.events.controls; let i=index" class="event" style="overflow:hidden" >
              <div>
                <span>Матч {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="betForm.controls.events.controls.length > 1" (click)="removeAddress(i)"></span>
              </div>
              <div  [formGroupName]="i">
                    <div style="padding-bottom: 20px">
                        <label for="expamt" class="col-sm-2 control-label"> Команда 1</label>
                        <div class="input-group col-sm-10">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="expamt" formControlName="team1" placeholder="Enter amount">
                        </div>

                        <div class="text-danger" *ngIf="betForm.controls.events.controls[i].controls.team1.dirty && betForm.controls.events.controls[i].controls.team1.errors">
                            <span class="col-sm-2"></span>
                            <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.controls.events.controls[i].controls.team1.errors.required">
                                Please enter amount
                            </span>
                            <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.controls.events.controls[i].controls.team1.pattern">
                                Please enter a valid amount
                            </span>
                        </div>
                    </div>

                    <div  style="padding-bottom: 20px">
                        <label for="expamt" class="col-sm-2 control-label"> Команда 2</label>
                            <div class="input-group col-sm-10">
                                <div class="input-group-addon">$</div>
                                <input type="text" class="form-control" id="expamt" formControlName="team2" placeholder="Enter amount">
                            </div>
    
                            <div class="text-danger" *ngIf="betForm.controls.events.controls[i].controls.team2.dirty && betForm.controls.events.controls[i].controls.team2.errors">
                                <span class="col-sm-2"></span>
                                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.controls.events.controls[i].controls.team2.errors.required">
                                    Please enter amount
                                </span>
                                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.controls.events.controls[i].controls.team2.pattern">
                                    Please enter a valid amount
                                </span>
                            </div>
                    </div>

                    <div  style="padding-bottom: 20px" [ngClass]="{'has-error': betForm.controls.events.controls[i].controls.result.invalid && betForm.controls.events.controls[i].controls.result.dirty}">
                        <label for="exptyp" class="col-sm-2 control-label">Результат</label>
                        <div class="input-group col-sm-10">
                            <div class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></div>
                            <select class="form-control" formControlName="result">
                                <option></option>
                                <option *ngFor="let res of eventsResultArray" >{{res}}</option>
                            </select>
                        </div>
                        <div class="text-danger" *ngIf="betForm.controls.events.controls[i].controls.result.invalid.dirty && betForm.controls.events.controls[i].controls.result.invalid.errors">
                            <span class="col-sm-2"></span>
                            <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.controls.events.controls[i].controls.result.invalid.errors.required">
                                Please select expense account
                            </span>
                        </div>
                    </div>

                    <div  style="padding-bottom: 20px" [ngClass]="{'has-error': betForm.controls.events.controls[i].controls.odd.invalid && betForm.controls.events.controls[i].controls.odd.dirty}">
                        <label for="expamt" class="col-sm-2 control-label"> Коффициент</label>
                        <div class="input-group col-sm-10">
                            <div class="input-group-addon">$</div>
                            <input type="number" class="form-control" id="expamt" formControlName="odd" placeholder="Enter amount">
                        </div>

                        <div class="text-danger" *ngIf="betForm.controls.events.controls[i].controls.odd.dirty && betForm.controls.events.controls[i].controls.odd.errors">
                            <span class="col-sm-2"></span>
                            <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.controls.events.controls[i].controls.odd.errors.required">
                                Please enter amount
                            </span>
                            <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.controls.events.controls[i].controls.odd.pattern">
                                Please enter a valid amount
                            </span>
                        </div>
                    </div>

                    <div  style="padding-bottom: 20px" [ngClass]="{'has-error': betForm.controls.events.controls[i].controls.betEvent.invalid && betForm.controls.events.controls[i].controls.betEvent.dirty}">
                        <label for="expamt" class="col-sm-2 control-label"> Событие</label>
                        <div class="input-group col-sm-10">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="expamt" formControlName="betEvent" placeholder="Enter amount">
                        </div>

                        <div class="text-danger" *ngIf="betForm.controls.events.controls[i].controls.betEvent.dirty && betForm.controls.events.controls[i].controls.betEvent.errors">
                            <span class="col-sm-2"></span>
                            <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.controls.events.controls[i].controls.betEvent.errors.required">
                                Please enter amount
                            </span>
                            <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.controls.events.controls[i].controls.betEvent.pattern">
                                Please enter a valid amount
                            </span>
                        </div>
                    </div>
              </div>
            </div>
          </div>
        
        <div class="" style="padding-bottom: 100px;">
            <a (click)="addAddress()" style="cursor: default">
                Add another address +
            </a>

            <button type="submit" class="btn btn-primary pull-right"  [disabled]="!betForm.valid">Submit</button>
        </div>

        
        <!-- <div class="form-group" [ngClass]="{'has-error': betForm.get('expamt').invalid && betForm.get('expamt').dirty}">
            <label for="expamt" class="col-sm-2 control-label">Amount</label>
            <div class="input-group col-sm-10">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" id="expamt" [formControl]="expamt" placeholder="Enter amount">
            </div>
            <div class="text-danger" *ngIf="betForm.get('expamt').dirty && betForm.get('expamt').errors">
                <span class="col-sm-2"></span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('expamt').errors.required">
                    Please enter amount
                </span>
                <span class="col-sm-10" style="padding:4px 0 0" *ngIf="betForm.get('expamt').errors.pattern">
                    Please enter a valid amount
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="expdesc" class="col-sm-2 control-label">Description</label>
            <div class="input-group col-sm-10">
                <textarea class="form-control" id="expdesc" rows="3" [formControl]="expdesc" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" [disabled]="betForm.invalid" class="btn btn-primary">{{ btnLbl }}</button>
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="reset" class="btn btn-default" *ngIf="btnLbl == 'Update'" (click)="onBack()">Back</button>
            </div>
        </div>

         -->
    </form>
</div>